<section
	class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
	data-header-color="black"
	id="model-y"
>
	<div class="z-30 relative h-full flex flex-col">
		<header>
			<h2 class="text-black pt-40 text-4xl font-medium">Model Y</h2>
			<p class="text-black text-sm underline">
				Concertar una prueba de conducción
			</p>
		</header>

		<footer class="flex flex-grow justify-end flex-col pb-20">
			<div class="gap-x-4 flex mx-auto md:gap-y-0 gap-y-2 flex flex-col md:flex-row">
				<a
					href="#"
					class="border-[3px] text-sm border-white rounded px-12 py-2 text-white inline-block hover:bg-white hover:text-black transition-colors"
				>
					Explorar inventario
				</a>
				<a
					href="#"
					class="border-[3px] text-sm border-white rounded px-12 py-2 text-white inline-block hover:bg-white hover:text-black transition-colors"
					>Pedido personalizado
				</a>
			</div>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full w-full z-10">
		<img
			src="/Model-y.avif"
			alt="Model Y"
			class="w-full h-full object-cover"
		/>
	</div>
</section>
